<div class="container">
  <h2>Lista de Cursos</h2>
  
  <div class="form-group">
    <label for="filtroFechaFin">Buscar Curso por Fecha de Finalización:</label>
    <input class="form-control" id="filtroFechaFin" type="date" [(ngModel)]="filtroFechaFin"> <!-- Vinculamos con filtroFechaFin -->
    <button class="btn btn-primary mb-3" (click)="buscarCursos()">Buscar</button> <!-- Ejecutamos buscarCursos() en lugar de cursosFiltrados -->
  </div>
  
  
  <!-- Tabla para mostrar los cursos -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tema</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Docente</th>
        <th>Precio</th>
        <th>Alumnos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of cursos">
        <td>{{ curso.id }}</td>
        <td>{{ curso.tema?.nombre || 'Sin tema asignado' }}</td> <!-- Uso de ?. -->
        <td>{{ curso.fechaInicio }}</td>
        <td>{{ curso.fechaFin }}</td>
        <td>{{ curso.docente_legajo?.nombre || 'Sin docente asignado' }}</td> <!-- Uso de ?. -->
        <td>{{ curso.precio }}</td>
        <td>
          <ul>
            <li *ngFor="let alumno of curso.alumnos">{{ alumno?.nombre || 'Sin alumno asignado' }}</li> <!-- Uso de ?. -->
          </ul>
        </td>
        <td>
          <button class="btn btn-info btn-sm" (click)="editarCurso(curso.id)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="eliminarCurso(curso.id)">Eliminar</button>
        </td>
      </tr>
       <!-- Botón para agregar un nuevo curso -->
  <button class="btn btn-primary mb-3" (click)="agregarCurso()">Agregar Curso</button>
    </tbody>
  </table>
</div>
