<div class="container">
    <h2 class="text-center">Lista de Docentes</h2>
    

    
    <!-- Tabla de los docentes -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Legajo</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Muestro cada uno de los docentes -->
        <tr *ngFor="let docente of docentes">
          <td>{{ docente.legajo }}</td>
          <td>{{ docente.nombre }}</td>
          <td>
            <!-- Botones de acción -->
            <button class="btn btn-info btn-sm" (click)="editarDocente(docente.legajo)"><i class="bi bi-pencil"></i> Editar</button>
            <button class="btn btn-danger btn-sm" (click)="eliminarDocente(docente.legajo)"><i class="bi bi-trash"></i> Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  <!-- Botón para agregar un nuevo Docente -->
  <button class="btn btn-primary mb-3" (click)="agregarDocente()">
  <i class="bi bi-plus-circle"></i>  Agregar Docente
  </button>
  </div>
  
